
public
.tmp
client/bower_components
dist
/server/config/local.env.js

# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
*.psd
*.ai
 
# Exclude the build products
build/*
*.[oa]

# Exclude OS X folder attributes
.DS_Store
 
# Exclude Text Files
*.txt
# Except read me
!README.txt

# Exclude log files
*.log

# Exclude Fonts
_fonts/

# Node
npm-debug.log
node_modules

# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~
